.background {
    -fx-background-image: url("file:C:/Users/chen.yu/git/island/island/src/application/images/spring.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 900px, 550px;
}